In [9]:
import pandas as pd
import numpy as np

In [13]:
raw = pd.read_csv('FamilyTree.csv')
raw

         Sumesh Rawal          Arnav Modi
0    Ritvik Kandarkar        Sumesh Rawal
1            Om Awate    Ritvik Kandarkar
2           Kabir Dua            Om Awate
3         Rithik Jain        Rajan Parikh
4        Anthony Adly         Rithik Jain
..                ...                 ...
70  Kanishk Vankayala       Rish Bellakka
71      Rish Bellakka  Pranav Ramachandra
72   Vidur Maheshwari         Aman Thakur
73         Nathan Lee      Justin Flesher
74        Kevin Cheng      Sharukh Shaikh

[75 rows x 2 columns]

In [12]:
littleDict = {}