In [16]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

connections = pd.read_csv("Connections.csv")
connections

               Source            Target  Weight
0          Arnav Modi      Sumesh Rawal     NaN
1        Sumesh Rawal  Ritvik Kandarkar     NaN
2    Ritvik Kandarkar          Om Awate     NaN
3            Om Awate         Kabir Dua     NaN
4        Rajan Parikh       Rithik Jain     NaN
..                ...               ...     ...
232    Nuveen Dhingra       Victor Lobo     NaN
233       Victor Lobo   Raahil Malhotra     NaN
234   Raahil Malhotra      Dhruv Marwha     NaN
235      Dhruv Marwha        Anuj Verma     NaN
236        Anuj Verma       Rohan Verma     NaN

[237 rows x 3 columns]